header{
    flex-direction: column;
}
header ul li{
    margin: 3px;
}
header ul li a{
    font-size: 11px;
}
.content{
    display: block;
    margin: auto;
    padding: 50px 0px;
    text-align:  center;
    max-width:  87%;
}
.content h1{
    font-size: 39px;
    /* text-align: center; */
}
.content p {
    padding: 15px 5px;
}
#maincard {
    flex-direction: column;
}